.dashboardContainer {
  min-height: calc(100vh - 100px);
  width: 80%;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid var(--white);
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal centering */
  justify-content: center; /* Vertical centering */
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.centerImage {
  width: 300px;
  height: auto;
  margin: 20px 0;
  animation: fadeInSlideUp 1s ease-out forwards;
}

/* Here is where you adjust timings or effects on the second image*/
.centerImage:nth-child(2) {
  animation-delay: 0.5s; /* delay the second image's animation slightly */
}
.user-details,
.Dashboard {
  text-align: center;
}

.contentWrapper {
  display: flex; /* Le flexbox layout */
  justify-content: space-between; /* Distribute items on both ends */
  align-items: center; /* Align items vertically in the center */
  width: 100%; /* Take full width of the parent container */
}
