.container {
  margin: 0 auto 4rem;
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  text-align: center;
}

.signupForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(11, auto);
  gap: 1rem;
}

.inputGroup {
  display: grid;
  gap: 1rem;
}

.inputGroup label {
  font-size: 1.4rem;
}

.loginLink {
  font-size: 1.4rem;
  background: none;
  border: none;
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
}

.controlsGroup {
  margin: 2rem auto;
  width: 100%;
  max-width: 500px;
  /* grid-column: span 2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error {
  color: var(--errorRed);
}
.button {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--navy);
  border-radius: 3px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  letter-spacing: 0.05em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 300ms ease-in-out;
  width: 100%;
}

.button:disabled {
  cursor: default;
}

.button:hover {
  background-color: var(--vlight-navy);
}

@media (min-width: 769px) {
  .container {
    margin-top: 6rem;
  }
}

@media (min-width: 1200px) {
  .signupForm {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(2, 1fr);
  }

  .controlsGroup {
    grid-column: span 2;
  }
}
