.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.heading {
  margin-bottom: 2rem;
}

.order {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.orderDateContainer {
  display: flex;
  gap: 0.5rem;
}
